body {
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
}

h1 {
  font-weight: 400;
}

form {
  width: 640px;
  margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
}

h1,
p {
  text-align: center;
}

label,
input {
  display: block;
  margin: 10px auto;
  text-align: center;
  padding: 3px;
  box-sizing: border-box;
}

.input {
  border: 1px solid #7f7f7f;
}

.required {
  color: #ff574d;
}

form {
  border: 1px solid #fffc63;
}
